@font-face {
	font-family: "PT Sans Narrow";
	src: url("fonts/PTSansNarrow-Regular.ttf");
}

@font-face {
	font-family: "PT Sans Narrow";
  src: url("fonts/PTSansNarrow-Bold.ttf");
  font-weight: bold;
}
