#home-map {
  display: inline;
  float: left;
  width: 65%;
  height: 500px;

  #leaflet-map {
    height: 600px;
  }
}

.home-list {
  display: inline;
  float: left;
  width: 35%;
  height: 600px;
  overflow: scroll;

  .search-container {
    border: 1px solid #ebebeb;
    position: relative;
    box-shadow: rgba(0,0,0,0.2) 0px 1px 2px 0px;
    transition-duration: 0.3s;
    margin: 10px;

    .svg-icon {
      left: 0;
      margin: .5em;
      position: absolute;
      top: 9px;
    }

    .svg-icon ~ input {
      padding-left: 2em;
    }

    input {
      background: #fff;
      border: none;
      padding: .4em .7em;
      width: 100%;
      height: 50px;
      box-sizing: border-box;
      color: #191919;
    }
    
    &:focus-within {
      // focus-within no tiene amplia compatibilidad pero esto es un detalle...
      box-shadow: rgba(0, 0, 0, 0.42) 4px 4px 2px -2px;
    }
  }

  

  .post-list {
    li {
      background-color: rgb(255, 255, 255);
      box-shadow: rgba(0,0,0,0.2) 0px 1px 2px 0px;
      margin: 8px 15px;
      padding: 5px 15px;
      transition-duration: 0.2s;

      &:hover {
        box-shadow: rgba(0, 0, 0, 0.42) 3px 3px 2px -2px;
        border-left: 4px solid $gray-light;
      }

      h5 {
        margin-bottom: 0;
      }

      a {
        text-decoration: none;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}


@media screen and (max-width: 800px) {
  #home-map {
    display: block;
    float: left;
    width: 100%;
    height: 600px;
  
    #leaflet-map {
      height: 600px;
    }
  }

  .home-list {
    margin-top: 10px;
    width: 100%;
    display: block;
    height: auto;
  }
}
