---
---

// VARIABLE: S
$base-color: #3EC9A7;
$white: #fff;
$gray-dark: #191919;
$gray-transparent: #2f2f2fdc;
$gray-solid: #2f2f2f;

@import "minima";
@import "fonts";
@import "header";
@import "social-media-links";


body {
  font-family: 'PT Sans Narrow', sans-serif;
}

.site-footer {
  border-top: 0;
  padding: 30px 0;
  background-color: $base-color;
}

.page-content {
  display: flex;
  justify-content: center;
  align-items: center;  
  .wrapper {
    display:inline-block;
  }
}
