---
---

// VARIABLE: S
$base-color: #3EC9A7;
$white: #fff;
$gray-dark: #191919;
$gray-transparent: #2f2f2fdc;
$gray-solid: #2f2f2f;

@import "minima";
@import "fonts";
@import "header";
@import "social-media-links";


body {
  font-family: 'PT Sans Narrow', sans-serif;
}

.site-footer {
  border-top: 0;
  padding: 30px 0;
  background-color: $base-color;
}

.page-content {
  .wrapper{
    max-width: max-content;  
  }  
}

.search {
  text-align: right;
  padding: 14px;
}

.search-field {
  width: 100%;
  max-width: 300px;
}

.row {
 *zoom:1;
 width:auto;
 max-width:64.375rem;
 float:none;
 display:block;
 margin-right:auto;
 margin-left:auto;
 padding-left:0;
 padding-right:0
}
.row:before,
.row:after {
 content:'';
 display:table
}
.row:after {
 clear:both
}
.flex-grid {
 display:-ms-flexbox;
 display:flex;
 -ms-flex-flow:row wrap;
 flex-flow:row wrap
}

.box-item {
 -ms-flex:1 0 300px;
 flex:1 0 300px;
 margin:0 .938rem 3.125rem;
 display:inline-block;
 border:1px solid #dbdbdb;
 border-radius:5px;
 min-height:14rem;
 transition:all .3s;
 position:relative;
 cursor:pointer;
 max-width: 350px;
}
.box-item:hover {
 box-shadow:1px 2px 10px #dbdbdb
}
.box-item a {
 text-decoration:none;
}
.box-item a:hover .box-item {
 box-shadow:10px 10px 10px #dbdbdb
}
.box-item .box-body {
 padding:1.563rem;
}
.box-item .box-body time {
 font-size:.875rem;
 color:#b2bac2
}
.box-item .box-body h2 {
 margin:.313rem 0 .938rem;
 font-size:1.25rem;
 font-family:'Open Sans',sans-serif;
 font-weight:800;
 font-style:normal;
 color:#005f97;
}
.box-item .box-body p {
 margin:0 0 1.25rem;
 color:#576366;
 font-size:.875rem;
 line-height:1.375rem
}
.box-item .box-body .tags a {
 color:#005f97;
 padding:.313rem .625rem;
 border-radius:3px;
 display:inline-block;
 margin:0 0 .313rem;
 z-index:50
}