---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}


  {% if site.paginate %}
    {% assign posts = paginator.organizaciones %}
  {% else %}
    {% assign posts = site.organizaciones %}
  {% endif %}


  {%- if posts.size > 0 -%}
    <!--<h2 class="post-list-heading">Todas las organizaciones</h2>-->

    <!-- Html Elements for Search -->
    <div id="search-container" class="search">
      <select id="departamento" class="filter">
        <option value="" selected>Departamento</option>
        {%- for post in site.departamentos -%}
          <option value="{{ post.nombre }}">{{ post.nombre }}</option>
        {%- endfor -%}
      </select> 
      
      <select id="barrio" class="filter">
        <option value="" selected>Barrio/Localidad</option>
        <!--{%- for post in site.barrios -%}
          <option value="{{ post.nombre }}">{{ post.nombre }}</option>
        {%- endfor -%}-->
      </select>

      <select id="actividad" class="filter">
        <option value="" selected>Tipo de Iniciativa</option>
        <!--{%- for post in site.barrios -%}
          <option value="{{ post.nombre }}">{{ post.nombre }}</option>
        {%- endfor -%}-->
      </select>  

      <input type="text" id="search-input" class="search-field" placeholder="Buscar por nombre, ciudad, barrio o actividad ...">
    </div>

    <!-- hay un java script que oculta uno de estos dos divs dependiendo si se muestra todo el listado o solo las búsquedas-->

    <div id="results-container" class="row flex-grid"></div>
    
    <div id="row" class="row flex-grid">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}

        <a class="post-link" href="{{ post.url | relative_url }}">
          <article class="box-item">
            <div class="box-body">
              <div class="box-barrio">
                <span class="post-meta">{{ post.barrio }}, {{ post.departamento }}</span>
              </div>
              <h3>
                <a class="post-link" href="{{ post.url | relative_url }}">
                  {{ post.title | escape }}
                </a>
              </h3>
              <p>{{ post.actividades }}</p>
              {%- if site.show_excerpts -%}
                {{ post.excerpt }}
              {%- endif -%}
            </div>
          </article>
        </a>
      {%- endfor -%}
      
    </div>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

</div>

<!-- Script pointing to search-script.js -->
<script src="js/search-script.js" type="text/javascript"></script>

<!-- Configuration -->
<script>
var filtersMap = new Map();
filtersMap.set('departamento', document.getElementById("departamento"));
filtersMap.set('barrio', document.getElementById("barrio"));
filtersMap.set('actividades', document.getElementById("actividad"));

SimpleJekyllSearch({
  searchInput: document.getElementById('search-input'),
  resultsContainer: document.getElementById('results-container'),
  searchResultTemplate: '<article class="box-item"><div class="box-body"><div class="box-barrio"><span class="post-meta">{barrio}, {departamento}</span></div><h3><a class="post-link" href="{url}">{title}</a></h3><p>{actividades}</p></div></article>',
  noResultsText: ("¡No se encontraron resultados!"),
  limit: 1000,
  fuzzy: true,
  filterSelectTags: filtersMap,
  json: '/search.json'
})
</script>

<script src="js/jquery-3.4.1.min.js"></script>

<script>
  $("#departamento").change(function() {

  var $dropdown = $(this);

  $.getJSON("/search.json", function(data) {
  
    var depto = $dropdown.val();
    var barrioVals = [];

    for (var i = 0; i < data.length; i++) {
      for (var key in data[i]) {
        if (key == 'departamento' && data[i][key] == depto) {
          /*hay barrios separados por comas*/
          var barrios = data[i]['barrio'].split(",")
          for (var j = 0; j < barrios.length; j++) {
            if (!barrioVals.includes(barrios[j])) {
              barrioVals.push(barrios[j])
            }
          }
        }
      }
    }
    barrioVals.sort();
    var $secondChoice = $("#barrio");
    $secondChoice.empty();
    $secondChoice.append("<option value=\"\" selected>" + "Barrio/Localidad" + "</option>");
    $.each(barrioVals, function(index, value) {
      $secondChoice.append("<option>" + value + "</option>");
    });

  });
});
</script>

<script>
$(document).ready(function(){

  $.getJSON("/search.json", function(data) {
  
    var actividadVals = [];

    for (var i = 0; i < data.length; i++) {
      for (var key in data[i]) {
        if (key == 'actividades' && !actividadVals.includes(data[i][key])) {
          actividadVals.push(data[i][key])
        }
      }
    }
    actividadVals.sort();
    var $secondChoice = $("#actividad");
    $secondChoice.empty();
    $secondChoice.append("<option value=\"\" selected>" + "Tipo de Iniciativa" + "</option>");
    $.each(actividadVals, function(index, value) {
      $secondChoice.append("<option>" + value + "</option>");
    });

  });
});
</script>

<script>
  $(document).ready(function(){
    $("#search-input").keyup(function() {
      $("#row").hide();
      if (!$('#search-input').val()) {
        $("#row").show();
      };
    });
  });

  $(document).ready(function(){
    $("#departamento").change(function() {
      $("#row").hide();
    });
  });

  $(document).ready(function(){
    $("#barrio").change(function() {
      $("#row").hide();
    });
  });

  $(document).ready(function(){
    $("#actividad").change(function() {
      $("#row").hide();
    });
  });
</script>