---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">
        {{ page.title | escape }}
    </h1>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    <table>
      <tbody>
        <tr>
            <td class="title">Actividad:</td>
            <td>{{page.actividades}}</td>
        </tr>
        <tr>
            <td class="title">Departamento:</td>
            <td>{{page.departamento}}</td>
        </tr>
        <tr>
            <td class="title">Barrio:</td>
            <td>{{page.barrio}}</td>
        </tr>
        <tr>
            <td class="title">Dirección:</td>
            <td>{{page.direccion}}</td>
        </tr>
        <tr>
            <td class="title">Teléfono:</td>
            <td>{{page.telefono_contacto}}</td>
        </tr>
        <tr>
            <td class="title">Necesidades:</td>
            <td>{{page.necesidades}}</td>
        </tr>
        {% if page.otros_contactos != blank %}
        <tr>
            <td class="title">Otros contactos:</td>
            <td>{{page.otros_contactos}}</td>
        </tr>
        {% endif %}
        {% if page.horario != blank %}
        <tr>
            <td class="title">Horario:</td>
            <td>{{page.horario}}</td>
        </tr>
        {% endif %}
        {% if page.aclaraciones != blank %}
        <tr>
            <td class="title">Aclaraciones:</td>
            <td>{{page.aclaraciones}}</td>
        </tr>
        {% endif %}
        {% if page.cuenta_bancaria != blank %}
        <tr>
            <td class="title">Cuenta bancaria:</td>
            <td>{{page.cuenta_bancaria}}</td>
        </tr>
        {% endif %}
      </tbody>
    </table>
    <div class="post-share-links">
      <i>Compartí esta organización en:</i>
      <div>
          <span><a target="_blank" href="https://www.facebook.com/sharer.php?u={{ page.url | absolute_url }}">
            <svg class="svg-icon"><use xlink:href="/assets/social-media-icons.svg#facebook"></use></svg>
          </a></span>
          <span><a target="_blank" href="https://twitter.com/intent/tweet?url={{ page.url | absolute_url }}&text={{ page.title }}">
            <svg class="svg-icon"><use xlink:href="/assets/social-media-icons.svg#twitter"></use></svg>
          </a></span>
          <span><a target="_blank" href="https://wa.me/?text={{ page.title | url_encode }}%20{{ page.url | absolute_url | url_encode }}">
            <svg class="svg-icon"><use xlink:href="/assets/social-media-icons.svg#whatsapp"></use></svg>
          </a></span>
      </div>
    </div>
  </div>
</article>
